html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: "Open Sans";
}



.sidebar {
	background-color: #0E77ee;
    background: linear-gradient(49deg, rgb(45,1190,268) 0%, rgb(118,165,288) 79%);
	color: #332211;
	width: 20%;
	height: 100vh;
	text-align: center;
    display: inline-block;
    border: 3px solid blue;
}
.sidebar-title{
    text-align: center;
    font-size: 60px;
    margin-top: 60px;
    font-family:monospace;
}

.sidebar-header {
	
    text-align: center;
    font-size: 30px;
    margin-top: 35px;
    font-family: monospace;
    
}

.new-room-btn {
	padding: 0 0 15px 10px;
    margin-top: 20px;
}




.main-header {
	background-color: white;
	color: rgb(189, 195, 199);
	padding: 20px 0 20px 10px;
	font-size: 40px;
}

.chat-rooms {
    font-size: 25px;
	word-spacing:inherit;
    text-align: left;
    margin-left: 77px;
    font-family: monospace;
    font-weight: bold;
}
	






.modal-box{
    background-color: rgb(231, 231, 231);;
    width: 300px;
    height: 200px;
    position: absolute;
    margin-left: 12%;
    margin-top: 1%;
    text-align: center;
    border: 3px solid blue;
    padding: 20px 20px 20px 20px;
}

.room-box-text {
	display: block;
    text-align: center;
    margin-left: 25px;
    
}

/* Button */

.button {
	transition: background-color 0.2s ease;
	background-color: rgb(52, 152, 219);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: table-row;
    font-size: 16px;
    
    margin-top: 20px;
}

.button:hover {
	cursor: pointer;
	background-color: rgb(41, 128, 185);
}
.container {
   border: 3px solid blue;
    margin: 0px;
    padding: 0px;
    background-color: azure;
    display: inline-block;
    vertical-align: top;
    width: 700px;
    position: absolute;
    
}
.table{
    border: 3px solid gray;
    align-items: flex-end;
    margin: 0px auto;
    position:relative;
    background-color: azure;
    
}
.username{
    font-size: 20px;
    font-weight: bold;
    
}
.sentAt{
    text-align: right;
}
.room-ms{
    font-size: 30px;
}
.content{
    text-indent: 5px;
    font-weight: 100;
}
.new-message {
	padding: 10px;
	background-color: rgb(236, 240, 241);
	line-height: 30px;
	font-size: 20px;
	border-radius: 0;
	outline: 0;
	border-right: 1px solid rgba(0,0,0,0.2);
	flex: 1%;	
	
	
}