
	<aside class="sidebar" >
        <h1 class="sidebar-title"  ng-click="home.homeTest()">Bloc Chat</h1>
        <h3 class="sidebar-header">Chat Rooms:</h3>
			
			<div class="chat-rooms" ng-repeat="room in home.rooms">
                <h2 ng-click="home.setRoom(room.$id)">-{{ room.name }}</h2><br><br>
            </div>
            <form class="new-room-btn">
				<input class="button" type="submit" value="New Room" ng-click="home.open()">
			</form>
	</aside>
<section class="container">



    <h2 class="room-ms" >{{ home.currentRoom.name}}</h2>
        <table class="table">
            <tr ng-repeat="message in home.messages" >
                <td class="username">
                    {{ message.username }}:
                    <br/>
                    <p class="content">{{ message.content }}</p>
                </td>
                <td class="sentAt">{{ message.sentAt }}</td>
            </tr>
            
        </table> 
    
    
    
    
    
</section>
		
	